/* --------------google font links----------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* -------------------common styles-------------------- */
body{
font-family: 'Poppins', sans-serif;
}
.conatainer{
margin-bottom: 20px;
}

/* first section styles */
/* trasnition and tranform for header */
.header:hover {
background-color: rgb(24, 153, 170);
transition:  0.5s ease-in;
}
.header:hover .link-button {
background-color: rgb(204, 135, 31);
transition:transform  0.20s ease-in  ;
}
.header:hover h1{
transform: skew(-3deg);
transition: transform 3s ease;
}
.header:hover img{
transform: scale(1.1);
transition: transform 3s ease-in-out;
}

.header{
display: flex;
padding: 20px;
background-color:#0e0ea8;
height:800px;
border-radius: 10px;
}
.half-width img{
width: 70%;
}
.half-width{
width: 50%;
}
.half-width h1{
font-size: 4rem;
color: whitesmoke;
}
.link-button,.see-more-button{
text-decoration: none;
background-color: rgb(204, 51, 51);
padding: 10px;
border-radius: 10px;
color: seashell;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------
        -----second section style
-------------------------------------------------- */

.section-title,.heighlight-title{
text-align: center;
font-size: 2rem;
}
.player-box img{
width: 400px;
}
.player-box{
width: 400px;
height: 550px;
border-radius: 10px;
margin-left: 5%;
padding: 30px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
margin-bottom: -20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.players{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-row-gap: 50px;
padding: 120px;
margin-left: 50px;
margin-top: 10px;
justify-items: center;

}

/* styles for third section or bonus part */
/* --------------- */
.heighlights {
display: grid;
grid-template-columns: repeat(2,1fr);
padding: 50px;
background-color: honeydew;
width: 70pc;
height: 80pc;
margin-left: 500px;
border-radius: 20px;

}
.heighlight-box{
display: flex;
flex-direction: column;
width: 400px;
height: 300px;
border-radius: 20px;
padding-left: 65px;
margin-bottom: 190px;
font-family: 'El Messiri', sans-serif;
}
.heighlight-box img{
width:300px;
border-radius: 30px;
}
.heighlight-title{
 font-family: 'Shadows Into Light Two', cursive;
font-size: 4rem;
}
.see-more-button{
text-align: center;
margin-left: 450px;
color: #f5f4ef;
background-color: rgba(37, 141, 37, 0.979);

}
/* styles for fourth section and footer part */

.football-logo img{
width: 483px;
}
.copyright{
margin-bottom: 20px;
}
.filled{
font-size: 20px;
color:#7a7070;
background-color: #dfceced3;
border-radius: 4px;
cursor: pointer;
padding: 5px;
border-radius: 20px;
}
.social-links{
margin-bottom: 20px;
}
.footer-info{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

/*-------------------------------------------------------------------------------------
 --------------------------media queries ----------------------------------
---------------------------------------------------------------------------------*/
/* iPhone 4 and 4S */

@media only screen and  (min-device-width:320px) and (max-device-width:480px) {
        .header {       
        display: grid;
       grid-template-columns: repeat(2,1fr);     
         width: 290px;
        height: 200px;
grid-column-gap: 90px;
}
.half-width h1 {
font-size: 15px;
}
.half-width{
width: 70%;
}
.header .link-button{
font-size: 4px;
width: 60px;
background-color: rgb(207, 36, 36);
}
.header img{
width:130%;
margin-right: 20px;
}

.section-title {
text-align: center;
}
/* for player section */
.player-box img{
width: 100%;
}
.player-box{
width: 100%;
}
.players{
display: grid;
grid-template-columns: repeat(1,1fr);
justify-content: center;
align-items: center;
width: 100px;
margin-top: -100px;
}
.player-section{
display: row;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: -100px;
}
/* for bonus part and thied section */
.heighlight-title{
font-size: 30px;
margin-top: -20px;
margin-left: -20px;
}
.heighlights{
background-color:#e6d6d6 ;
height: 2100px;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
justify-content: center;
width: 80%;
margin-left: -30px;
margin-top: -10px;
}
.heighlight-box{
font-size:15px;
padding: 10px;
position: relative;
top: 20px;
margin-bottom: -200px;
margin-left: 20px;
width: 90%;
height:100%;
}
.heighlights img{
width: 90%;
}

#highlighting-boxes1{
position: relative;
top: 150px;
}
#highlighting-boxes2{
 position: relative;
top: 200px;
}
#highlighting-boxes3{
position: relative;
top: 100px;
}

/* for footer */

.football-logo img{
width: 70%;
}
.footer-info{
flex-direction: column;
margin-top: 100px;
position: relative;
top: 10px;
}
}

/* tablet and ipads */

@media (min-width:768px) and (max-width:1024px) {
        .header{
                display: grid;
                grid-template-columns:repeat(2,1fr);
                height: 1000px; 
                width: 1200px;
        
        }
.header img{
width: 500px;
margin-top: 100px;
}
.players{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: space-between;
align-items: center;
grid-gap: 30px;
margin-right: -190px;
}
.heighlights{
display: flex;
flex-direction: column;
background-color: #eeeaea;
height: 120pc;
align-items: center;
margin-left:-100px ;
}
.heighlight-box{
display: flex;
flex-direction: row;
width: 650px;
height: 300px;
margin-left: 20px;
}
.heighlight-box img{
margin-left: 20px;
margin-right: 20px;
width: 300px;
}
.heighlight-title h1{
text-align: center;
margin-right: 20px;
}
.footer-info{
position: relative;
top: 100px;
}
}